body.dark{
background:#0e1117;
color:white;
}

body.neon{
background:black;
color:#00ffcc;
}

textarea{
position:absolute;
opacity:0;
height:200px;
width:90%;
}

pre{
height:200px;
overflow:auto;
background:#1e1e1e;
padding:10px;
}

#deployBar{
height:5px;
background:lime;
width:0%;
transition:width 2s;
}

.achievement{
position:fixed;
top:20px;
right:20px;
background:gold;
padding:10px;
}

.duel{
position:fixed;
bottom:20px;
right:20px;
background:#222;
padding:15px;
}
