body {
    background: #0e0e0e;
    color: white;
    font-family: Arial;
    text-align: center;
}

h1 {
    margin-top: 10px;
}

#menu {
    margin: 15px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    background: #ff9800;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #ffc107;
}

canvas {
    background: #222;
    border: 3px solid white;
}

#stats {
    margin-top: 10px;
    font-size: 18px;
}

